* {
    box-sizing: border-box;
}

.aspNetHidden {
    display: none;
}

.navbar {
    background-color: black;
    color: #f2f2f2;
    position: sticky;
    top: 0px;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    padding-right: 60px;
}

    .navbar a {
        color: #f2f2f2;
        text-align: center;
        padding: 20px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        .navbar a:hover {
            background-color: #ddd;
            color: black;
        }

.controls {
    height: 89vh;
    display: flex;
}

#Info {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: inherit;
    border-right: 2px solid #808080;
    margin-top: 8px;
}

    #Info label {
        background-color: #012d1dd1;
        color: white;
        padding: 20px 80px;
        border-radius: 10px;
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
        margin-top: 70px;
    }

.reqContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 80%;
}

.vcButtons {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 30px;
}

    .vcButtons input {
        color: #f2f2f2;
        background-color: black;
        border-radius: 5px;
        border: none;
        padding: 12px 16px;
        margin: 0px 12px;
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
        cursor: pointer;
    }

        .vcButtons input:hover {
            background-color: #ddd;
            color: black;
        }

.selectDate {
    display: flex;
    width: 100%;
    justify-content: center;
}

.veButtons {
    display: flex;
    justify-content: flex-start;
    height: 200px;
    align-items: center;
    width: 40%;
}

    .veButtons input {
        color: #f2f2f2;
        background-color: black;
        border-radius: 5px;
        border: none;
        padding: 12px 16px;
        margin: 0px 50px;
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
        cursor: pointer;
        height: 40px;
    }

        .veButtons input:hover {
            background-color: #ddd;
            color: black;
        }

table {
    border-collapse: collapse;
}

.wraptable {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.theadcell {
    font-size: 16px;
    color: #fff;
    line-height: 1.4;
    background-color: black;
    padding: 16px 40px;
    font-weight: inherit;
    text-align: left;
}

table tr:nth-child(even) {
    background-color: #f8f6ff;
}

.tcell {
    font-family: Lato-Regular;
    font-size: 15px;
    color: gray;
    line-height: 1.4;
    padding: 16px 32px;
    text-align: left;
}

.accept {
    border: none;
    padding: 8px 16px;
    background-color: #012d1dd1;
    color: white;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
}

    .accept:hover {
        color: green;
        background-color: inherit;
    }

.reject {
    border: none;
    padding: 8px 16px;
    background-color: darkred;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

    .reject:hover {
        color: red;
        background-color: inherit;
    }
